main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main h2{
    color: #00B4D8;
    font-family: 'Cinzel', serif;
    font-size: 28px;
    font-weight: 700;
    text-decoration: underline;
}

main .linha{
    margin: 30px 0 50px 0;
}

main .linha:nth-of-type(2){
    margin: 50px 0 30px 0;
}

main .linha:nth-of-type(3){
    margin: 80px 0 40px 0;
}

main h1 .campeoes{
    font-family: 'Cinzel Decorative', serif;
    font-size: 32px;
    color: #00B4D8;
    text-decoration: underline;
    text-underline-offset: 10px;
    letter-spacing: 10px;
}

main h1 .campeoes:hover{
    color: #e5e5e5;
}

main .container-column .caminho{
    margin-bottom: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

main .container-column .caminho-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

main .container-column .caminho:hover{
    color: #00B4D8;
    display: flex;
}

main .container-column .container-central_de_ajuda{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.container-column .container-central_de_ajuda .pesquisador-central_de_ajuda{
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

.container-column .container-central_de_ajuda .pesquisador-central_de_ajuda i{
    position: absolute;
    right: 325px;
}

main .container-column input{
    background-color: #000B29;
    border: 2px solid #FFC300;
    border-radius: 50px;
    box-sizing: border-box;
    padding: 12px 20px;
    width: 600px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

main .container-column input::placeholder{
    font-family: 'Montserrat', sans-serif;
    color: #e5e5e5;
}

main .container-column .container-central_de_ajuda .container-categorias{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

main .container-central_de_ajuda .container-categorias .categorias{
    display: flex;
    flex-wrap: wrap;
    gap: 112px;
}

main .container-central_de_ajuda .container-categorias .categorias .categoria{
    width: 146px;
    height: 146px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #FFC300 2px solid;
    flex-direction: column;
    gap: 30px;
    box-sizing: border-box;
    padding: 20px;
}

main .container-central_de_ajuda .container-categorias .categorias .categoria:hover{
    background-color: #00B4D8;
}

main .container-central_de_ajuda .container-categorias .categorias .categoria:hover a{
    transform: scale(2);
}

.container-central_de_ajuda .container-categorias .categorias .categoria a{
    padding: 8px 16px;
    background-color: #00B4D8;
    text-decoration: none;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    border-radius: 200px;
}

.container-central_de_ajuda .container-categorias .categorias .categoria span{
    font-family: 'Montserrat', sans-serif;
}

main .container-central_de_ajuda .container-categorias .categorias .categoria:hover span{
    font-weight: 900;
}